@model IEnumerable<Product>

@{
    ViewData["Title"] = "Sản phẩm";
    int count = 0;
    int.TryParse(Context.Request.Query["page"], out int currentPage);
    currentPage = currentPage < 1 ? 1 : currentPage;
    int.TryParse(ViewBag.CountPage.ToString(), out int countPage);
    currentPage = currentPage > countPage ? countPage : currentPage;
}

<h1>Sản phẩm</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Ảnh đại diện</th>
            <th>Tên sản phẩm</th>
            <th class="text-end">Đơn giá</th>
            <th class="text-end">Giảm giá</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>
                    <img src="@item.Avatar" alt="Avatar" style="width:80px; height:auto;" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td class="text-end">
                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Price)
                </td>
                <td class="text-end">
                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Discount)
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination float-end me-5">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { page = 1 })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= countPage && i <= 10; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { page = countPage })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>