@model Warehouse

@{
    ViewData["Title"] = "Xóa kho hàng";
}

<h1>@ViewData["Title"]</h1>

<h3>Bạn có chắc muốn xóa không?</h3>
<div>
    <h4>Kho hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Tên kho</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">Sức chứa</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">Ngày tạo</dt>
        <dd class = "col-sm-10">
            @Model.CreateAt.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">Ngày cập nhật</dt>
        <dd class = "col-sm-10">
            @Model.UpdateAt?.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
