@model Warehouse

@{
    ViewData["Title"] = "Thông tin chi tiết";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Warehouse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Tên kho</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarehouseName)
        </dd>
        <dt class = "col-sm-2">Địa chỉ</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">Sức chứa</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">Ngày tạo</dt>
        <dd class = "col-sm-10">
            @Model.CreateAt.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">Ngay cập nhật</dt>
        <dd class = "col-sm-10">
            @Model.UpdateAt?.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
