@{
    ViewData["Title"] = "Nhập hàng";
    var warehouses = ViewBag.Warehouses as List<Warehouse> ?? new List<Warehouse>();
    var products = ViewBag.Products as List<Product> ?? new List<Product>();
}

<h1>Nhập hàng</h1>

<h4>Hóa đơn</h4>
<hr />
<div class="row justify-content-between">
    <div class="col-md-4 mb-3">
        <form class="search-customer-name">
            <div class="form-group">
                <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#createCustomer">
                    Thêm khách hàng
                </button>
            </div>
            <div class="form-group mt-3 d-flex position-relative" style="z-index: 1000;">
                <input class="form-control me-2 search-input" type="search" id="searchCustomer" placeholder="Tìm kiếm kho..." aria-label="Search" autocomplete="off">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <div class="position-absolute bg-white border border-secondary rounded shadow suggestions">
                    <ul class="list-group">
                        @foreach (var warehouse in warehouses)
                        {
                            <li class="list-group-item"
                                data-id="@warehouse.Id"
                                data-address="@warehouse.Address"
                                data-capacity="@warehouse.Capacity"
                            >
                                @warehouse.WarehouseName
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <input type="hidden" name="idCustomer" />
            <div class="d-flex justify-content-between mt-3">
                <div>Tên khách hàng: </div>
                <div class="customer-name"></div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>Email: </div>
                <div class="customer-email"></div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>Số điện thoại: </div>
                <div class="customer-phoneNumber"></div>
            </div>
            <div class="d-flex justify-content-between mt-3">
                <div>Địa chỉ: </div>
                <div class="customer-address"></div>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div style="width: 400px;">
            <form class="d-flex position-relative search-name" style="z-index: 999;">
                <input class="form-control me-2 search-input" type="search" id="searchInput" placeholder="Tìm kiếm sản phẩm..." aria-label="Search" autocomplete="off">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <div class="position-absolute bg-white border border-secondary rounded shadow suggestions">
                    <ul class="list-group">
                        @foreach (var product in products)
                        {
                            <li class="list-group-item"
                                data-id="@product.Id"
                                data-avatar="@product.Avatar"
                                data-price="@product.Price"
                                data-discount="@product.Discount">
                                @product.ProductName
                            </li>
                        }
                    </ul>
                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="width: 50px;" class="text-center">STT</th>
                    <th scope="col" style="width: 130px;" class="text-center">Ảnh đại diện</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col" style="width: 130px;">Giá</th>
                    <th scope="col" style="width: 130px;">Giảm giá</th>
                    <th scope="col" style="width: 85px;">Số lượng</th>
                    <th style="width: 55px;" class="text-center">#</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label wrap-none">Tổng cộng: </label>
                    <label class="col-sm-8 col-form-label text-end price-end"></label>
                </div>
                <div class="form-group">
                    <div class="d-flex radio-discount">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Discount" id="percent" checked>
                            <label class="form-check-label" for="percent">%</label>
                        </div>
                        <div class="form-check ms-3">
                            <input class="form-check-input" type="radio" name="Discount" id="money">
                            <label class="form-check-label" for="money">Tiền</label>
                        </div>
                    </div>
                    <div class="row pe-0">
                        <label class="col-sm-4 col-form-label wrap-none">Giảm giá</label>
                        <div class="col-sm-8 pe-0">
                            <input type="text" class="form-control text-end" id="discount" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"></label>
                    <label class="col-sm-8 col-form-label text-end discount-end"></label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label wrap-none">Tổng tiền: </label>
                    <label class="col-sm-8 col-form-label text-end total-price-end"></label>
                </div>
                <div class="form-group row mt-3">
                    <label class="col-sm-4 col-form-label wrap-none">Thanh toán: </label>
                    <div class="col-sm-8 pe-0">
                        <input type="text" class="form-control text-end" id="payment-price" autocomplete="off" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mt-3 float-end">
            <button class="btn btn-success" id="createBill">Tạo hóa đơn</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại</a>
</div>
