@model IEnumerable<Bill>

@{
    ViewData["Title"] = "Danh mục hóa đơn";
    int count = 0;
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Tên nhân viên</th>
            <th>Giá</th>
            <th>Giảm giá</th>
            <th>Tổng tiền</th>
            <th>Đã thanh toán</th>
            <th>Thời gian tạo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@(++count)</td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentName)
            </td>
            <td>
                @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Price)
            </td>
            <td>
                @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Discount)
            </td>
            <td>
                @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.TotalPrice)
            </td>
            <td>
                @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.PaymentPrice)
            </td>
            <td>
                @item.CreateAt.ToString("dd/MM/yyyy HH:mm:ss")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Export" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
