@model IEnumerable<Bill>

@{
    ViewData["Title"] = "Danh mục công nợ";
    int count = 0;
}

<h1>@ViewData["Title"]</h1>

<table class="table mt-5">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Tên nhân viên</th>
            <th>Giá</th>
            <th>Giảm giá</th>
            <th>Tổng tiền</th>
            <th>Đã thanh toán</th>
            <th>Thời gian tạo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmploymentName)
                </td>
                <td>
                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Price)
                </td>
                <td>
                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Discount)
                </td>
                <td>
                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.TotalPrice)
                </td>
                <td>
                    @String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.PaymentPrice)
                </td>
                <td>
                    @item.CreateAt.ToString("dd/MM/yyyy HH:mm:ss")
                </td>
                <td class="d-flex">
                    <a asp-action="Edit" asp-route-id="@item.Id">Cập nhật</a>
                </td>
            </tr>
        }
    </tbody>
</table>