@model User

@{
    ViewData["Title"] = "Thông tin tài khoản";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Họ tên</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">Email</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">Số điện thoại</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">Địa chỉ</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">Trạng thái</dt>
        <dd class="col-sm-10">
            @(Model.EmailConfirmed ? "Đã xác thực" : "Chưa xác thực")
        </dd>
        <dt class = "col-sm-2">Ngày tạo</dt>
        <dd class = "col-sm-10">
            @Model.CreateAt.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">Ngày cập nhật</dt>
        <dd class = "col-sm-10">
            @Model.UpdateAt?.ToString("dd/MM/yyyy HH:mm:ss")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
