@model IEnumerable<CustomerDebtDTO>

@{
    ViewData["Title"] = "Danh sách khách hàng";
    int count = 0;
    int.TryParse(Context.Request.Query["page"], out int currentPage);
    currentPage = currentPage < 1 ? 1 : currentPage;
    int.TryParse(ViewBag.CountPage.ToString(), out int countPage);
    currentPage = currentPage > countPage ? countPage : currentPage;
    string q = Context.Request.Query["q"];
    int startPage = 1;
    int endPage = 10;
}

<h1>@ViewData["Title"]</h1>

<div class="row mt-5">
    <form class="col-md-4 search" asp-action="Index" method="post">
        <div class="input-group rounded">
            <input type="hidden" name="Page" value="@currentPage" />
            <input type="search" name="Email" value="@q" class="form-control rounded" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
            <button class="btn btn-secondary ms-3" type="submit">Search</button>
        </div>
    </form>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination float-end me-5">
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { page = 1, q = q })" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @if (currentPage > 5)
        {
            startPage = currentPage - 5;
            endPage = startPage + 9;
        }
        @if (currentPage > Math.Abs(countPage - 5))
        {
            startPage = countPage - 9;
            startPage = startPage > 0 ? startPage : 1;
            endPage = countPage;
        }
        @for (int i = startPage; i <= countPage && i <= endPage; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i, q })">@i</a>
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@Url.Action("Index", new { page = countPage, q })" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Email</th>
            <th>Trạng thái</th>
            <th>Công nợ</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++count)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Email)
                </td>
                <td>@(item.Customer.EmailConfirmed ? "Đã xác thực" : "Chưa xác thực")</td>
                <td>@String.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.Debt)</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.Customer.Id">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(function () {
            $('form.search').on('submit', function (event) {
                event.preventDefault();
                let urlAction = "@Url.Action("Index", "Customers")";
                let searchValue = $(this).find("input[name=Email]").val();
                let url = `${urlAction}?q=${searchValue}`;

                window.location.href = url;
            });

            $('.tooltips .tooltip-text').click(function () {
                console.log($(this).closest('td'));
            });
        });
    </script>
}